@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase&family=Roboto&display=swap");

@font-face {
	font-family: "besides";
	src: url("./font/Besides-2Om9K.ttf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
body {
	margin: 0px;
	background-image: url(./images/background\ image.svg);
	background-repeat: repeat-y;
	background-size: 100%;
}
.wrapper {
	margin: 3.5%;
}
.slogan {
	margin: 150px;
	font-size: 90px;
	text-align: center;
}

h1,
h2 {
	font-family: "besides";
	text-decoration: underline;
	text-decoration-color: lime;
}
h3 {
	font-family: "besides";
}
h1 {
	text-align: center;
	font-size: 70px;
}

h2 {
	font-size: 30px;
}

p,
li {
	font-family: "Roboto", sans-serif;
	width: 40%;
}
nav a {
	text-decoration: underline 6px lime;
	font-size: 10pt;
	background-color: transparent;
	color: black;
}
a {
	margin-top: 20px;
	padding: 12px;
	background-color: #9a00ff;
	font-family: "besides";
	color: rgb(255, 255, 255);
	text-decoration: none;
}

.logo {
	width: 80px;
	height: 80px;
}

nav {
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}

.nav-links li {
	padding: 40px;
	display: inline;
	margin: 20px;
}
.person {
	margin: 30px 60px;
	text-align: center;
}
.person p {
	width: 100%;
}
.person img {
	width: 150px;
	height: 150px;
	object-fit: contain;
}
.departments {
	display: flex;
	justify-content: space-between;
}
.buttonStaff,
.buttonGrade,
.buttonFactuur {
	padding: 20px;
	padding: 12px;
	background-color: #9a00ff;
	font-family: "besides";
	color: rgb(255, 255, 255);
}
.buttonFactuur {
	margin-bottom: 0;
}
.buttonGrade {
	padding-left: 160px;
	padding-right: 160px;
}
.departments [id^="button"] {
	display: none;
}
.departments [id^="button"]:checked + label.buttonStaff,
.buttonStaff:hover,
.buttons [id^="button"]:checked + label.buttonGrade,
.buttonGrade:hover,
.buttonFactuur:hover {
	background-color: black;
	color: white;
}
.personnel {
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
}

.nav-button2 {
	text-decoration: underline 6px;
	text-decoration-color: #ccff00;
}
.nav-button3 {
	text-decoration: underline 6px;
	text-decoration-color: #ff00bb;
}
.nav-button4 {
	text-decoration: underline 6px;
	text-decoration-color: #00e5ff;
}
.nav-button5 {
	text-decoration: underline 6px;
	text-decoration-color: #ff8901;
}
.yellow {
	text-decoration-color: #ccff00;
}
.pink {
	text-decoration-color: #ff00bb;
}
.blue {
	text-decoration-color: #00e5ff;
}
.orange {
	text-decoration-color: #ff8901;
}
a:hover {
	text-decoration: underline;
}

.diamond-doodle {
	position: absolute;
	width: 100px;
	left: 200px;
	bottom: 100px;
}
.ContactInformation {
	display: flex;
	width: 200px;
}
.sendUs {
	flex: 1;
}
.sendUs input {
	margin-bottom: 20px;
}
.Messege {
	flex: 1;
	margin-left: 130px;
}
.Messege input {
	margin-bottom: 20px;
	height: 100px;
}
.contactData {
	display: flex;
	width: 800px;
}
.links {
	flex: 1;
}
.socials {
	flex: 1;
	text-decoration: underline 6px;
	text-decoration-color: #ff8901;
}

table,
th,
td {
	font-family: "Roboto", sans-serif;
	border: 1px solid black;
	text-align: center;
	background-color: white;
}
.courseTitle {
	text-align: left;
}

.tables1stGrade,
.tables2ndGrade,
.tables3rdGrade {
	display: flex;
	justify-content: space-around;
}
.firstYear,
.secondYear,
.thirdYear,
.fourthYear,
.fifthYearDS,
.fifthYearDF {
	width: 40%;
	box-sizing: border-box;
}

.buttons {
	display: flex;
	justify-content: space-around;
}

.buttons [id^="button"] {
	display: none;
}

.hiddenDiv {
	display: none;
}
main div {
	margin-bottom: 50px;
}

.stickman-2 {
	position: absolute;
	float: right;

	width: 10%;
	left: 800px;
	top: 400px;
}
.duck {
	position: absolute;
	width: 400px;
	left: 130vh;
	bottom: 20vh;
}

.infrastructure {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	width: 60%;
}
.infrastructure div {
	flex: 1;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
}

.infrastructure img {
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover; /* Preserve aspect ratio */
}
.eventImg {
	width: 250px;
	height: 250px;
}
.event {
	display: flex;
	margin: 30px;
}
.eventText {
	margin-left: 100px;
}

.eventText h2 {
	margin: 0px;
}

.eventlist {
	overflow-y: scroll;
	border: 1px;
	border-color: black;
	height: 600px;
	background-color: rgba(255, 255, 255, 0.5);
}
.dropdown {
	width: fit-content;
	margin-top: 50px;
	cursor: pointer;
}
.dropdownContent {
	z-index: 1;
	float: inline-end;
	position: absolute;
	display: none;
	color: white;
	border: none;
	cursor: pointer;
	margin: 0%;
}
.pdf {
	font-family: "Roboto", sans-serif;
	color: #ff0000;
	background-color: white;
	text-decoration: none;
	display: block;
	margin: 0%;
	padding: 20px;
	width: fit-content;
}
.dropdownContent a:hover {
	background-color: #f1f1f1;
}
.dropdown:hover .dropdownContent {
	display: block;
}
.waaromKiezen {
	display: flex;
	justify-content: space-between;
}
.waaromKiezen p {
	width: 100%;
}
.basispeilers,
.maximumFactuur {
	flex-direction: column;
	width: 40%;
}
.download {
	display: flex;
	justify-content: center;
}
.ssh {
	display: flex;
	text-align: center;
}
.ssh p {
	font-family: "besides";
}
.item {
	min-width: 30%;
	background-color: rgba(255, 255, 255, 0.9);
	text-align: center;
	margin: 10px;
	padding: 20px;
}
.item img {
	width: 100%;
	margin-bottom: 10px;
	aspect-ratio: 1/1;
	object-fit: cover; /* Preserve aspect ratio */
}

.item p {
	width: 100%;
	text-align: left;
}
.item a {
	display: inline-block;
	align-self: baseline;
}
.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0% 3.5%;
}
.caroussel {
	margin-top: 20px;
	width: 75%;
	display: flex;

	overflow-x: auto;
	scroll-behavior: smooth;
}
.arrowLeft {
	height: 50px;
	position: absolute;
	top: 1200px;
	left: 20px;
	cursor: pointer;
}
.arrowRight {
	height: 50px;
	position: absolute;
	top: 1200px;
	right: 20px;
	cursor: pointer;
}

.contactOns {
	text-decoration: underline 6px;
	text-decoration-color: #ff8901;
}
.gegevens {
	text-decoration: underline 6px;
	text-decoration-color: #ff8901;
}

.leefregelimages {
	display: flex;
	flex-wrap: wrap;

	width: 70%;
	margin-left: 250px;

	justify-content: center;
	text-align: center;
}
.regelpictogram {
	width: 33%;
}

.doubbleText {
	display: flex;
}

.GO {
	flex: 1;
	text-align: center;
}
.rules {
	flex: 1;
	text-align: center;
}
.rules p {
	margin: 0 auto;
	width: 70%;
	margin-bottom: 50px;
	text-align: left;
}
.rules a {
	margin-top: 100px;
}
.GO p {
	text-align: left;
	width: 70%;
	margin: 0 auto;
}
.liferules h1 {
	text-align: center;
}
.Inschrijvingen {
	text-align: center;
}

.Inschrijvingen p {
	margin: 0 auto;
}
.Inschrijvingen h2 {
	text-decoration: none;
	font-size: 20px;
	margin-top: 30px;
}
.socialMedia {
	text-align: center;
	margin: 90px;
}
.socialMedia h2 {
	font-size: 20pt;
	text-decoration: none;
}
.instagrambtn {
	background: linear-gradient(
		94deg,
		rgba(250, 126, 30, 1) 2%,
		rgba(214, 41, 118, 1) 25%,
		rgba(150, 47, 191, 1) 93%,
		rgba(79, 91, 213, 1) 100%
	);
}
.facebookbtn {
	background: #316ff6;
}

.eventlist::-webkit-scrollbar-thumb {
	background: #ff00bb;
	border-radius: 10px;
}
.eventlist::-webkit-scrollbar {
	width: 10px;
}
.eventlist::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}
.eventlist::-webkit-scrollbar-thumb:hover {
	background: #ca259e;
}
