/* TYPOGRAPHY */
h1 {font-family: "kenyan coffee",sans-serif;
	font-size: 250px;
}

h2 {
    font-family: "kenyan coffee",sans-serif;
	font-size: 200px;
}

h3 {font-family: "kenyan coffee",sans-serif;
    font-size: 105px;
}


h4 {
}

h5 {
}

h6 {
}

p {font-family: "verdana",sans-serif;
    font-size: 30px;
}

a {font-family: "kenyan coffee",sans-serif;
    font-size: 35px;
}


